body {
    margin: 0px;
    padding: 0px;
    overflow:hidden;
}

canvas#gl-canvas {
    background: blue;
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    margin-right:5px;
}

div#debug{
    position:absolute;
    right:0px;
    top:0px;
    width: 20%;
    height: 100%;
    padding: 10px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    visibility:hidden;
}

div#message{
    visibility:hidden;
    border:1px solid black;
    padding: 5px;
    background: rgb(48, 41, 17);
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    font-family: Consolas;
    width: 300px;
}